<div class="submit-roll">
<%= form_for @bowl do |f| %>
  <%= hidden_field_tag :player_id, 1 %>
  
  <div id="ajax-form">  
    <% if @total_turns_p1.nil? || @total_turns_p1 < 20  %>
      <h1>Player One</h1>
       
        <%= f.submit "Roll!" %>
    <% elsif @total_turns_p1 == 20 && @bowls.where(:player_id => 1).map(&:score).last(2).reduce(:+) == 10  %>
       
        <%= f.submit "Roll!" %>      
    <% else %>
        <h1>Play Again?</h1>
    <% end %>
  </div>

<% end %>
</div>
<div class="submit-roll">
<!-- , remote: true -->



<%= form_for @bowl do |f| %>
  <%= hidden_field_tag :player_id, 2 %>
  
  <div id="ajax-form">  
    <% if @total_turns_p2.nil? || @total_turns_p2 < 20  %>
      <h1>Player Two</h1>
       
        <%= f.submit "Roll!" %>
    <% elsif @total_turns == 20 && @bowls.where(:player_id => 2).map(&:score).last(2).reduce(:+) == 10  %>
       
        <%= f.submit "Roll!" %>      
    <% else %>
        <h1>Play Again?</h1>
    <% end %>
  </div>

<% end %>
</div>